#box{
    height: 1000px;
    width: 1050px;
    position: relative;
    border: 1px solid rgb(33, 33, 33);
    
}
body{
    background:url("../imge/10.jpg") no-repeat;
}
.box-1{
    position: absolute;
    width: 1050px;
    height: 100%;
    border-right: 1px black solid;
}
.box-top{
    width: 1050px;
    height: 300px;
}
.box-top img{
    height: 200px;
    width: 200px;
    padding: 5px;
    border: 1px gray solid;
    margin-top: 6%;
    margin-left: 16%;
}
.box-top-r-1 span{
    padding: 2px;
    background-color: rgb(202, 15, 15);
    font-family: "宋体";
    color: azure;
    border: 2px solid red;
    float: left;
    margin-right: 10px;
}
.box-top-r-2 img{
    height: 35px;
    width: 35px;
    border: none;
    left:0;
    margin: 0;
    padding: 0;
}
.box-top-r-2{
    height: 35px;
    margin-top: 10%;
    display: flex;
    align-items: center;
}
.box-top-r-2 a{
    font-size: 3px;
    margin-left: 10px;
    margin-right: 0;
}
.box-top-r-2 p{
    margin-left: 20px;
    font-size: 7px;
    color: rgb(183, 180, 180);
}
.box-top-r{
    float: right;
    height: 200px;
    width: 350px;
    margin-top: 7%;
}
#bia{
    width: 1050px;
    height: 50px;
}
.liebiao{
    width: 1050px;
    border-top: 1px solid rebeccapurple;
    background-color: darkgrey;
}
.liebiao ul{
    width: 1050px;
    margin-left: 0;
    padding-left: 0;
}
.liebiao li{
    list-style-type: none;
    margin: 20px;
}
.liebiao li:hover{
    background-color: white;
    color: black;
}
.liebiao a{
    margin-left: 200px;
    color: black;
}
.liebiao a:hover{
    margin-left: 200px;
    font-family: "黑体";
}
#music{
    height:50px ;
    width: 85%;
}
#ge li a span{
    float: right;
    margin-right: 200px;
}
#ge img{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}