#pai{
    width: 1050px;
}
#pai div{
    height: 60px;
    margin-top: 10px;
    background-color: gray;
}
#pai div a{
    height: 60px;
    text-align: center;
}
#pai div a span{
    position: relative;
    bottom: 20px;
    left:100px;
}
#gs{
    float: right;
    margin-right: 400px;
    margin-top: 30px;
}
#pai div img{
    height: 50px;
    width: 50px;
    margin-left: 5%;
}
#pai div p{
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    text-align: center;
}
  